@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
     ANASAYFA

</div>

<!-- Anime Section End -->
@section Scripts {
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
     
            Swal.fire('@TempData["SuccessMessage"]', "Başarılı", "success");
        </script>
    }


}