@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Board Title";
}
<head>
    <link rel="stylesheet" href="~/css/BoardDetail.css" asp-append-version="true" />
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="board">
                <div class="board-title">
                    <h2 id="boardH2"></h2>
                </div>
                <div class="board-lists" id="listelervecardlar">
                    @* kartlar ve listeler listeneliyor *@
                </div>  
                
      
            </div>
        </div>
    </div>
</div>
<!-- Anime Section End -->
@section Scripts {
    <script>

        $(document).ready(function () {
          

            // Listeleri ve kartları JSON ile al
            $.ajax({
                url: "/Board/GetBoardWithIncludesPartial/" + @ViewBag.BoardId,
                type: "GET",
                success: function (data) {
                    $("#boardH2").text("@ViewBag.BoardName");

                    $("#listelervecardlar").html(data);
                    // Sıralama işlevini ekle
                    $(".list-cards").sortable({
        
                        connectWith: ".list-cards",
                        containment: ".board-lists",
                    
                        helper: "clone",
                        start: function (event, ui) {
                            // Sürükleme işlemi başladığında yapılacak işlemler buraya gelecek
                            ui.helper.addClass("dragging"); // Yardımcı öğeyi belirtmek için sınıf ekleyin
                        },
                        stop: function (event, ui) {
                            // Sürükleme işlemi bittiğinde yapılacak işlemler buraya gelecek
                            ui.item.removeClass("dragging"); // Yardımcı öğeden sınıfı kaldırın
                        },
                        update: function (event, ui) {
        
                            var newPosition = ui.item.index();
                            var cardId = ui.item.attr("data-card-id");
                            var newListId = ui.item.parent().parent().parent().attr("data-list-id");
                         
                            // console.log("poz : "+ newPosition)
                            // console.log("card : " + cardId)
                            // console.log("newlist : " + newListId)
                            
                            const cardData = {
                                cardId: cardId,
                                listId: newListId, 
                                position: newPosition,
                            };

                            $.ajax({
                                url: "/Card/updateCardPosition",
                                type: "POST",
                                contentType: "application/json; charset=utf-8", 
                                data: JSON.stringify(cardData), 
                                success: function (data) {
                                    // sayfadaki cardları yeniden çek
                                }
                            });
                      
                           
                        },
                    }).disableSelection();

                    $(".board-lists").sortable({
                        connectWith: ".list",
                        containment: ".board-lists",
                        helper: "clone",
                        start: function (event, ui) {
                            // Sürükleme işlemi başladığında yapılacak işlemler buraya gelecek
                            ui.helper.addClass("dragging"); // Yardımcı öğeyi belirtmek için sınıf ekleyin
                        },
                        stop: function (event, ui) {
                            // Sürükleme işlemi bittiğinde yapılacak işlemler buraya gelecek
                            ui.item.removeClass("dragging"); // Yardımcı öğeden sınıfı kaldırın
                        },
                        update: function (event, ui) {
                            // Sürükleme işlemi sırasında güncelleme işlemleri buraya gelecek
                            // var cardId = ui.item.attr("data-card-id");
                            // var newListId = ui.item.parent().parent().attr("data-list-id");
                            // var newPosition = ui.item.index();
                            console.log(ui.item);
                            var newPosition = ui.item.index();
                            var _listId = ui.item.attr("data-list-id")
                            console.log(newPosition);

                            const listData = {
                                listId: _listId,
                                position: newPosition,
                            };


                            $.ajax({
                                url: "/List/updateListPosition",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(listData),
                                success: function (data) {
                                    // sayfadaki cardları yeniden çek
                                }
                            });
                            // AJAX isteği ile kartın pozisyonunu güncelleme işlemleri buraya gelecek
                        },
                    }).disableSelection();
                },
            });
        });
    </script>

}