.board {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display:flex;
    flex-direction:column;
    
}
.sortable-placeholder {
    background-color: #f2f2f2; /* Arka plan rengi */
    border: 2px dashed #ccc; /* Kenarlık */
   /* Genişlik */
   min-width:200px;
    height: 50px; /* Yükseklik */
    opacity: 0.8; /* Opaklık */
    color: #333; /* Metin rengi */
    text-align: center; /* Metni ortala */
    line-height: 50px; /* Metin yüksekliği */
    font-size: 16px; /* Metin boyutu */

}
.board-title {
    margin-bottom: 10px;
    text-align:center;
}
.dragging {
    transform: rotate(15deg); 
}
.draggingList {
    transform: rotate(5deg);
}
.board-lists {
    list-style: none;
    display: flex;
    flex-wrap:wrap;
}

/* Temel stiller */
.list {
    background-color: #ebecf0;
    border-radius: 5px;
    width: 250px;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    list-style-type: none;
}

.list-title {
    background-color: #dfe3e6;
    padding: 10px;
    text-align:center;
    font-weight: bold;

}

.list-cards {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height:400px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-description {
    color: #5e6c84;
}
