.board {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.board-title {
    margin-bottom: 10px;
}

.board-lists {
    list-style: none;
    display:flex;
    padding: 10px;

}

.list {
    display:flex;
    align-items:center;
    flex-direction:column;
    min-width:150px;
    border: 1px solid red;


}

.list-title {
    font-weight: bold;
}

.list-cards {
    list-style: none;
    padding: 0;
    border:1px solid blue;
    width:100%;                                                                                                                                                                     
    min-height:90%;
}

.card {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-title {
    font-weight: bold;
}
